@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a0a0a;
    --primary: #D5FD4C;
  }

  * {
    font-family: 'Clash Display', sans-serif;
  }

  body {
    @apply bg-dark text-white antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-400;
  }

  .text-gradient-accent {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-accent to-[#D5FD4C];
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}